a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 150%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: underline;
  padding:3px;
}

a:link{
    color: rgba(0, 0, 0, 0.6);
}

a:visited{
    color: rgba(0, 0, 0, 0.6);
}

a:hover{
    background: linear-gradient(#eee, #eee);
    background-size: auto 4em;
    background-repeat: no-repeat;
    background-position: 0% 15px; 
}

body {
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

.title {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #37352f;
  margin-top: 50px;
}

.subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

h1 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
}

h4 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
}

h5 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
}

h6 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1;
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 150%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

button {
  background-color: #f0f2f4;
  color: #404b59;
  border: 1px solid #f0f2f4;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px;
  border-radius: 6px;
  align-items: center;
  height: fit-content;
  min-width: 180px;
  font-size: large;
  font-weight: 500;
  padding: 12px;
}

button:hover {
  background-color: #66778c;
  color: #fff;
}

button.primary {
  background-color: #e16259;
  color: #fff;
  border: 1px solid rgb(190, 86, 67);
  border-radius: 3px;
  align-items: center;
  height: fit-content;
  min-width: 180px;
  font-size: large;
  font-weight: 500;
  padding: 12px;
}

button.primary:hover {
  background-color: #cf534a;
  color: #fff;
}

form {
  font-size: 20px;
}

input,
textarea {
  font-size: 18px;
  padding: 8px;
  margin: 10px auto;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 10px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.code {
  background-color: #f1f1f1;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 17px;
  font-family: monospace;
  border-radius: 3px;
  line-height: 1.25;
}

pre {
  padding: 0px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 40px 20px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 20px;
  line-height: 150%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.nav {
  background-color: #fff;
  overflow: hidden;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #37352f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #fff;
  color: #37352f;
}

/* Change the color of links on hover */
.nav a:hover {
  background-size: 1px;
  background-color: rgba(55, 53, 47, 0.08);
  color: #37352f;
}

ul {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

li {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

table {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 20px;
}

tr {
  border: 1px solid #333;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}

td {
  border: 1px solid #333;
  padding: 10px;
}

th {
  border: 1px solid #333;
  text-align: left;
  padding: 20px;
}
